.popup__form-name {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px black solid;
    height: 27px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.popup__form-name::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}