.profile {
    width: 69%;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .profile {
        width: calc(100% - 38px);
        margin-bottom: 36px;
        flex-direction: column;
        justify-content: none;
        align-items: center;
    }
}