.profile__add {
    background-color: #000000;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    align-self: center;
    transition: opacity 0.1s linear 0.1s;
    margin-left: 40px;
    padding: 0;
}

.profile__add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__add {
        width: 282px;
        height: 50px;
        margin: 0;
    }
}