.card__image {
    width: 282px;
    height: 282px;
    background-size: cover;
    background-position: center;
    background-image: url(../../../images/Severnayaosetiya.jpg);
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    position: relative;
    z-index: 0;
}
