.card__like {
    transition: opacity 0.1s linear 0.1s;
    width: 22px;
    height: 19px;
    cursor: pointer;
    align-self: center;
    margin: 0 0 0 20px;
    background-size: cover;
    background-position: center;
}

.card__like:hover {
    opacity: 0.5;
}