.card__like {
    transition: opacity 0.1s linear 0.1s;
    width: 22px;
    height: 19px;
    cursor: pointer;
    align-self: center;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-image: url(../../../images/Vector.svg);
    border: 0;
    background-color: white;
    padding: 0;
}

.card__like:hover {
    opacity: 0.5;
}